.main-bot {
  width: 100%;
  height: 80px;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 90px;
  background-color: #661414;
  color:white;
}
.main-bot h5
{
    cursor:pointer;
}
.main-bot h5:hover{
    border-bottom:2px solid ;
    color:	#bf9b30;
}
.cont
{
    display:flex;
    justify-cont:center;
    align-items:center;
    gap:10px;
}
.cont h4
{
    cursor:pointer;
}
.cont h4:hover
{
    border-bottom:2px solid ;
    color:	#bf9b30;
}
.filt
{
    height:40px;
    width:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    border:none;
    background-color:transparent;
}
.filt:hover
{
    background-color:transparent;
    color:	#bf9b30;
}
.filt h5
{
    color:white;
    cursor:pointer;
    font-weight:800;
    font-size:16px;
}
.filt h5:hover
{
    border-bottom:none ;
    color:	#bf9b30;
}

