.footer {
  width: 100%;
  height: 400px;
  background-color: #661414;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 1px;
  gap: 100px;
  margin-top:30px;

}
.footerlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color:white;
}
.headfooter {
  margin-top: 35px;
}
.befooter {
  font-weight: 200;
}
.icons {
  display: flex;
  gap: 5px;
}
.icnfooter {
  font-size: 23px;
  border: 0.5px solid;
  border-radius: 100%;
  padding: 7px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.icnfooter:hover
{
    background-color: white;
    color: #661414;
}
.lowerfooter {
  margin-left: 40px;
  text-align: center;
  margin-top:50px;
  gap:50px;
}
.footer h3, h4
{
    color:white;
}
.glogo
{
    height:150px;
}
