.items
{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:start;
    gap:20px;
}
.mainbar
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
}
.nidhidiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;

    background-color:#f85e52;
    border: 1px solid #661414;
}
.varnadiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;

    background-color:#f85e52;
    border: 1px solid #661414;
}
.shiladiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;

    background-color:#f85e52;
    border: 1px solid #661414;
}
.siridiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    margin-top:20px;
    background-color:#f85e52;
    border: 1px solid #661414;
}
.niladiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    margin-top:20px;
    background-color:#f85e52;
    border: 1px solid #661414;
}
.lekshyadiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    margin-top:20px;
    background-color:#f85e52;
    border: 1px solid #661414;
}
.nooradiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    margin-top:20px;
    background-color:#f85e52;
    border: 1px solid #661414;
}
.zaradiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    margin-top:20px;
    background-color:#f85e52;
    border: 1px solid #661414;
}
.yumadiv
{
    width:1040px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    margin-top:20px;
    background-color:#f85e52;
    border: 1px solid #661414;
}
.itemsub
{
    width:100%;
    height:400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#661414;
}
.ilogo
{
    height:300px;
}
.itxt
{
    color:white;
    margin-top:5px;
}
.citems
{
    width:900px;
    height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.itmimg
{
    width: 280px;
    height: 290px;
    gap:30px;
}