.main-product {
  width: 100%;
  height: 100%;
  /* border: 1px solid; */
  margin-top:50px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:1px;
}
.submain {
  margin-top:30px;
  gap:40px;
  height:100%;
  width:1080px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}
.submain div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 430px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 1px;
  background-color:white;
  border: 1px solid #661414;
}
.submain div img {
  width: 280px;
  height: 290px;
}
.submain div h4
{
    color:#a9a9a9;
}
.main-product button {
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid;
  padding: 15px 45px;
  margin-top: 30px;
}
.main-product button:hover {
  background-color: #661414;
  color: white;
}
.main-pic div a{
    color: black;
    font-weight: 700;
}

